.container {
  max-width: 800px;
  width: 100%;
  margin-inline: auto;
}

.formWrapper {
  padding-inline: 0.8rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  margin-right: 12px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;

  &.animation {
    animation: wave 1s ease-in-out infinite;
  }

  &:first-child {
    background-color: #ff8a80;
    animation-delay: 0s;
  }

  &:nth-child(2) {
    background-color: #80cbc4;
    animation-delay: 0.1s;
  }

  &:last-child {
    background-color: #ffb74d;
    animation-delay: 0.2s;
  }
}

.formGroup {
  flex: 1;
}

.input {
  width: 100%;
  padding: 0.8rem;
  color: #717082;
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: inherit;

  &::placeholder {
    color: #bbbbbb;
  }


}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}
