:root {
  --primary-color: #4c77af;
  --secondary-color: #d6d6d6;
  --background-color: #f4f4f9;

  --primary-text-color: #333333;
  --accent-text-color: #666666;

  --danger-color: #c64d4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

.container {
  margin-inline: auto;
  max-width: 1200px;
  width: 90%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
